
/*

Colours

background: #0A0A0A
purple:     #9603FF
blue:       #00A7FF

*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0A0A0A;
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code', sans-serif;
    font-weight: 400;
    font-size: calc(1vw + 1vh);
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*hide scrollbar*/
body::-webkit-scrollbar {
  display: none;
}

#nav {
    position: fixed;
    overflow: hidden;
    width: calc(25vw + 25vh);
    height: calc(1.5vw + 1.5vh);
    background: #000000;
    border-radius: 100px;
    z-index: 1;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(0.65vw + 0.65vh);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #A0A0A0;
    display: flex;
}

.navAnimation {
    animation: navExpand 2s ease-out; forwards;
}

.plainLink {
    color: inherit;
    text-decoration: inherit;
}

@keyframes navExpand {
    0% {
        top: 105%;
    }
    100% {
        top: 95%;
    }
}

#nav > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: linear-gradient(to right, #A000FF, #00A0FF);
    -webkit-background-clip: text;
    color: #A0A0A0;
}

#nav > ul > li {
    float: left;
    padding-left: calc(1vw + 1vh);
    padding-right: calc(1vw + 1vh);
    /*width: 20%;*/
}

#nav > ul > li:hover {
    /*animation: expand 0.2s linear; forwards;*/
    padding-bottom: calc(0.1vw + 0.1vh)
}

@keyframes expand {
    0% {
        padding-bottom: 0;
    }
    100% {
        padding-bottom: calc(0.1vw + 0.1vh);
    }
}

/*this is the main landing page of the site, with the main title/name*/
#home {
    width: 100vw;
    height: 90vh;
}

/*this is inside the landing div and holds the p's*/
.title {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title > * {
    margin: 0;
}

.firstName, .lastName {
    font-weight: 900;
    font-size: calc(6vw + 6vh);
}

.lastName {
    background: linear-gradient(to right, #A000FF, #00A0FF, #A000FF, #00A0FF);
    -webkit-background-clip: text;
    background-size: 300% 100%;
    animation: lastNameSwipe 2s ease-in-out; forwards;
    color: transparent;
    margin-top: calc(-1vw + -1vh);
}

@keyframes lastNameSwipe {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.subTitle {
    margin-top: calc(0.5vw + 0.5vh);
    font-weight: 400;
}

#mainCircleContainer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 300%;
    z-index: -1;
}

#mainCircle {
    width: 150%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    background: radial-gradient(circle, #A000FF, transparent, #0A0A0A);
    transform: translate(-50%, -50%);
    opacity: 0.25;
    animation: circleFade 2s ease-out; forwards;
}

@keyframes circleFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.25;
    }
}

.mainSection {
    width: 100vw;

    text-align: center;
    /*align-items: center;*/
    justify-content: center;
    display: inline-flex;
}

.sectionHeader {
    font-size: 4vh;
    padding-bottom: 2%;
    width: 100%;
}

.contentBox {
    padding-top: 10vh;
    width: min(90vh, 90vw);
    min-height: min(90vh, 90vw);
    display: block;
    text-align: center;
    position: relative;
}

.contentBox * {
    margin: 0;
    float: left;
}

.player {
    border-radius: min(7vh, 7vw);
    overflow: hidden;
    z-index: 1;
    width: min(90vh, 90vw);
    height: min(50.625vh, 50.625vw);
}

.player > video {
    width: 100%;
    height: 100%;
}

.itemTitle {
    font-size: 3vh;
    margin: 1vh;
    margin-left: 0;
    margin-right: 0;
    width:  100%;
}

.itemDescription {
    font-size: calc(0.5vw + 1.25vh);
    text-align: justify;
    line-height: 125%;
    font-family: 'Roboto', sans-serif;
}

#project-carousel-container {
    overflow: hidden;
    width: min(90vh, 90vw);
    margin: 0 auto;
}

#project-carousel {
    display: flex;
    transition: transform 0.25s ease-in-out;
    width: min(90vh, 90vw);
}

.project-carousel-item {
    width: 100%;
    box-sizing: border-box;
}

.arrowContainer {
    position: absolute;
    width: min(90vh, 90vw);
    height: min(50.625vh, 50.625vw);
    font-size: 100px;
    cursor: pointer;
}

.arrowContainer .rightArrow {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    font-size: min(5vh, 5vw);
    background: rgba(0,0,0,0.25);
    border-radius: 100%;
}

.arrowContainer .leftArrow {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: min(5vh, 5vw);
    background: rgba(0,0,0,0.25);
    border-radius: 100%;
}


.arrowContainer *:hover {
    background: rgba(0,0,0,0.5);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 48;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}